.ModalErrors{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100%;
    background-color: aliceblue;
    border-radius: 2px;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease-in-out;
    max-width: 500px;
    min-width: 300px;
}

.ModalErrors.in{
    transform: translate(-50%, 0) !important;
}

.ModalErrors.out{
    transform: translate(-50%, 200%);
}

.ModalErrors p{
    margin: 0;
}