.ModalTask{
    position: absolute;
    top: 50%;
    width: 80%;
    background-color: var(--white-color);
    height: 70%;
    left: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    transition: 0.5s all ease-in-out;
    z-index: 100;
    max-width: 550px;
}

.ModalTask.In{
    transform: translate(-50%, -50%) !important;
}

.ModalTask.Out{
    transform: translate(-50%, 100%);
}

.Close{
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 10px 14px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    user-select: none;
}